.tutBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  top: 5%;
  border: 2px solid;
  border-radius: 50px;
  align-items: center;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
}
