.tutBox {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 25%);
  top: 5%;
  width: 75%;
  height: 60%;
  border: 2px solid;
  border-radius: 50px;
  align-items: center;
  text-align: center;
}
